{% extends 'layout.html' %}
{% block content %}

    <div class="body-padding">
        <div class="under-development-heading">
            <h1>Page Under Development</h1>
        </div>

        <div>
            <div class="box outline">
                <div class="under-development-text">
                    <p>This page is currently undergoing development<br>Stay tuned for future updates!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}